.element-animation {
  opacity: 0;
}
.element-animation.element-show {
  opacity: 1;
  transition: 1s all ease 0.1s;
  transform: translate(0, 0) !important;
}

body {
  margin: 0;
  padding: 0;
  background: #39a8c6;
  color: #fff;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 100px;
  overflow: hidden;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  background: #fcde26;
  color: #000;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 18px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.4s;
}
.btn:hover {
  background: #eed219;
}

.paws-animation {
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 300px;
  height: 300px;
  z-index: 100;
}
.paws-animation img {
  -webkit-animation-name: paws;
          animation-name: paws;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  position: absolute;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.paws-animation img:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  bottom: 0;
  left: 0;
  transform: rotate(-50deg);
}
.paws-animation img:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  bottom: 77px;
  left: -18px;
  transform: rotate(-50deg);
}
.paws-animation img:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  bottom: 86px;
  left: 66px;
  transform: rotate(-50deg);
}
.paws-animation img:nth-child(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  bottom: 169px;
  left: 48px;
  transform: rotate(-66deg);
}
.paws-animation img:nth-child(5) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  bottom: 219px;
  left: 114px;
  transform: rotate(-77deg);
}
.paws-animation img:nth-child(6) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  bottom: 281px;
  left: 68px;
  transform: rotate(-68deg);
}
.paws-animation img:nth-child(7) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  bottom: 334px;
  left: 130px;
  transform: rotate(-59deg);
}

@-webkit-keyframes paws {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes paws {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nav__burger {
  display: none;
}

.section__title {
  padding: 0 30% 10px 0;
  border-bottom: 3px solid #fcde26;
  display: inline-block;
  margin-bottom: 50px;
}
.section__title.element-animation {
  transform: translate(-100px, 0);
}
.section__title.element-animation.element-show {
  transition: 0.5s all 0.1s;
}
.section__title h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}
.section__title h2.element-animation {
  transform: translate(-100px, 0);
  pointer-events: none;
}
.section__title h2.element-animation.element-show {
  transition: 1s all 0.2s;
}

.yellow-span {
  color: #fcde26;
}

nav .nav__menu,
footer .nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  gap: 40px;
}
nav .logo,
footer .logo {
  max-width: 200px;
}
nav .nav__list,
footer .nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}
nav .nav__list > li,
footer .nav__list > li {
  list-style-type: none;
}
nav .nav__link,
footer .nav__link {
  font-size: 22px;
  transition: 0.4s;
}
nav .nav__link:hover,
footer .nav__link:hover {
  color: #fcde26;
}
nav .nav__contacts,
footer .nav__contacts {
  display: flex;
  flex-direction: column;
}
nav .nav__contacts-item,
footer .nav__contacts-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
  transition: 0.4s;
}
nav .nav__contacts-item:hover,
footer .nav__contacts-item:hover {
  color: #fcde26;
}

header {
  background: url(../img/header/lines.png), linear-gradient(174deg, #0a7eaf 22.59%, rgba(0, 89, 139, 0) 80.46%);
  background-position: 10% 20%;
  background-repeat: no-repeat;
  background-size: 100% 80%, 100%;
  padding-bottom: 50px;
}
header h4 {
  font-size: 24px;
  font-weight: 400;
}
header h4.element-animation {
  transform: translate(0, 100px);
}
header h4.element-animation.element-show {
  transition: 1s all 0.1s;
}
header h1 {
  font-size: 68px;
  font-weight: 600;
}
header h1.element-animation {
  transform: translate(0, 100px);
}
header h1.element-animation.element-show {
  transition: 1s all 0.4s;
}
header h2 {
  font-size: 28px;
  font-weight: 400;
}
header h2.element-animation {
  transform: translate(0, 100px);
}
header h2.element-animation.element-show {
  transition: 1s all 0.7s;
}
header .header__main {
  padding-top: 100px;
}
header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__img {
  max-width: 670px;
}
header .header__title {
  padding-left: 100px;
}

.benefits .benefits__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.benefits .benefits__item {
  position: relative;
  text-align: center;
  font-size: 20px;
  background: rgba(0, 89, 139, 0.65);
  padding: 30px;
  height: 50px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits .benefits__item.element-animation {
  transform: translate(0, 100px);
}
.benefits .benefits__item.element-animation:nth-child(1).element-show {
  transition: 1s all 0.1s;
}
.benefits .benefits__item.element-animation:nth-child(2).element-show {
  transition: 1s all 0.3s;
}
.benefits .benefits__item.element-animation:nth-child(3).element-show {
  transition: 1s all 0.5s;
}
.benefits .benefits__item.element-animation:nth-child(4).element-show {
  transition: 1s all 0.7s;
}
.benefits .benefits__item img {
  width: 100px;
  position: absolute;
  top: -75%;
}

.doctor {
  position: relative;
}
.doctor .doctor__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.doctor .doctor__img {
  max-width: 526px;
  border-radius: 18px;
  border-left: 3px solid #fcde26;
  border-bottom: 3px solid #fcde26;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: -12px 12px 5px 1px rgba(0, 89, 139, 0.6);
  height: 783px;
  width: 100%;
}
.doctor .doctor__content {
  position: relative;
  left: -5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.doctor .doctor__title {
  background: rgba(0, 89, 139, 0.65);
  border-radius: 30px;
  border-top: 3px solid #fcde26;
  border-left: 3px solid #fcde26;
  padding: 15px;
  font-size: 30px;
  text-align: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-weight: 500;
}
.doctor .doctor__description {
  background: rgba(0, 89, 139, 0.65);
  border-radius: 30px;
  border-top: 3px solid #fcde26;
  border-left: 3px solid #fcde26;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.doctor .doctor__description--list {
  font-size: 22px;
  font-weight: 600;
}
.doctor .doctor__description--list:last-child {
  font-size: 26px;
}

.services .services__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.services .services__item {
  text-align: center;
  background: rgba(0, 89, 139, 0.65);
  padding: 20px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services .services__title {
  border-bottom: 3px solid #fcde26;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #fcde26;
}
.services .services__img {
  height: 75px;
  width: auto;
}
.services .services__name {
  font-size: 28px;
  font-weight: 500;
}
.services .services__name span {
  display: block;
}
.services .services__description {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  position: relative;
}
.price::after {
  content: "";
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: -50%;
  left: 0;
  z-index: -100;
  background: linear-gradient(180deg, rgba(57, 168, 198, 0) 0%, rgba(23, 124, 181, 0.31) 41.6%, rgba(38, 143, 188, 0.2062) 75.19%, rgba(57, 168, 198, 0) 96.24%);
}
.price .price__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  overflow: hidden;
}
.price .price__btns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 100px;
}
.price .price-btn__item {
  background: rgba(0, 89, 139, 0.65);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  transition: 0.4s;
}
.price .price-btn__item.price-btn__item--active {
  background: #fcde26;
  color: #000;
}
.price .price__contents {
  background: rgba(0, 89, 139, 0.65);
  border-radius: 18px;
  font-size: 24px;
  font-weight: 500;
  max-height: 330px;
  padding: 40px;
  border: 3px solid #fcde26;
  width: 60%;
}
.price .price-content__item {
  display: none;
}
.price .price-content__item.price-content__item--active {
  display: block;
}
.price .price-content__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.price .price__description {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.price .price__description p {
  font-size: 18px;
  background: rgba(0, 89, 139, 0.65);
  border-radius: 18px;
  padding: 20px;
  border: 3px solid #fcde26;
}
.price .price__description .btn {
  min-width: 200px;
  margin-top: 10px;
}
.price .paws-animation {
  transform: rotate(-45deg);
  left: 2%;
  right: unset;
  bottom: 0;
  pointer-events: none;
}

.gallery .slider__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 70%;
  margin: 0 auto;
}
.gallery .slider__btns {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.gallery .slider__btns .btn--next,
.gallery .slider__btns .btn--prev {
  position: absolute;
  width: 75px;
  height: 100%;
  top: 0;
  background: rgba(0, 89, 139, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
}
.gallery .slider__btns .btn--next:hover,
.gallery .slider__btns .btn--prev:hover {
  opacity: 1;
}
.gallery .slider__btns .btn--next {
  right: 0;
  left: auto;
}
.gallery .slider__btns .btn--prev {
  left: 0;
  right: auto;
}
.gallery .slider__btns .btn--prev img {
  transform: rotate(180deg);
}
.gallery .slider__container {
  width: 100%;
  max-height: 680px;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 18px;
  border: 3px solid #fcde26;
}
.gallery .slide__img {
  transition: 0.4s opacity;
  display: none;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.gallery .slide__img.slide__img--active {
  display: block;
  width: 100%;
}
.gallery .slider__dots {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.gallery .slider__dots .dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: rgba(0, 89, 139, 0.65);
}
.gallery .slider__dots .dot.dot--active {
  background: #fcde26;
}

.faq .faq__wrapper {
  display: flex;
  flex-direction: column;
}
.faq .faq-wrapper__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.faq .faq-wrapper__item.faq-wrapper__item--active .faq-btn__item {
  background: #fcde26;
  color: #000;
}
.faq .faq-wrapper__item.faq-wrapper__item--active .faq-btn__item .tab__icon {
  border: #000 solid 2px;
}
.faq .faq-wrapper__item.faq-wrapper__item--active .faq-btn__item .tab__icon svg {
  stroke: #000;
}
.faq .faq-wrapper__item.faq-wrapper__item--active .faq-content__item {
  visibility: visible;
  height: unset;
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: rgba(0, 89, 139, 0.65);
  border-radius: 18px;
  padding: 40px;
  border: 3px solid #fcde26;
  font-size: 20px;
  pointer-events: none;
  margin-bottom: 15px;
}
.faq .faq-btn__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 89, 139, 0.65);
  border-radius: 18px;
  padding: 20px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 20px;
  font-weight: 500;
  gap: 5px;
}
.faq .faq-btn__item p,
.faq .faq-btn__item .tab__icon {
  pointer-events: none;
}
.faq .tab__icon {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #fff solid 2px;
  padding: 5px;
  border-radius: 100%;
}
.faq .tab__icon svg {
  width: 12px;
  position: relative;
  left: 2%;
  stroke: #ffffff;
}
.faq .faq-content__item {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s height;
}

.form .form__wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-radius: 18px;
  background: #fcde26;
  position: relative;
}
.form .form__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  pointer-events: none;
}
.form .form__img.element-animation {
  transform: translate(-50%, 100px) !important;
}
.form .form__img.element-animation.element-show {
  transform: translate(-50%, 0) !important;
}
.form .form__title {
  border-radius: 18px;
  background: #14759f;
  padding: 20px;
  text-align: center;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.form h5 {
  font-size: 1.4em;
}
.form a {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.4s;
}
.form a:hover {
  color: #fcde26;
}
.form p {
  font-size: 1.3em;
}
.form .form__form {
  max-width: 30%;
}
.form #form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 15px;
  color: #000;
}
.form #form input:not(:last-child) {
  padding: 1em 15px;
  border-radius: 10px;
  border: 1px solid #000;
}
.form #form input:not(:last-child)::-moz-placeholder {
  font-size: 16px;
  color: #000;
}
.form #form input:not(:last-child):-ms-input-placeholder {
  font-size: 16px;
  color: #000;
}
.form #form input:not(:last-child)::placeholder {
  font-size: 16px;
  color: #000;
}
.form #form input:last-child {
  width: 20px;
  height: 20px;
}
.form label {
  display: flex;
  gap: 5px;
}
.form .alert {
  display: none;
  text-align: center;
  background: green;
  color: #fff;
  padding: 1em;
  font-size: 18px;
  border-radius: 18px;
}
.form .form__btn {
  padding: 20px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background: #14759f;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}
.form .form__btn:hover {
  background: #0b4159;
}

.contacts .contacts__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts .contacts__title {
  display: flex;
  flex-direction: column;
  background: rgba(0, 89, 139, 0.65);
  padding: 20px 40px 20px 20px;
  border-radius: 18px;
  width: 30%;
  gap: 1em;
  left: 2%;
  position: relative;
}
.contacts .contacts__title p {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contacts .contacts__title p img {
  width: 30px;
}
.contacts .contacts__title p:last-child {
  color: #fcde26;
}
.contacts .contacts__address {
  font-size: 20px;
  padding-bottom: 1em;
  border-bottom: 2px dashed #fcde26;
}
.contacts .contacts__links {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.contacts .contacts__links a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  transition: 0.4s;
}
.contacts .contacts__links a:hover {
  color: #fcde26;
}
.contacts .contacts__links a img {
  width: 25px;
}
.contacts .contacts__map {
  padding: 10px;
  border: 3px solid #fcde26;
  border-radius: 18px;
}
.contacts .contacts__map iframe {
  border-radius: 18px;
  width: 700px;
  height: 450px;
}

footer {
  margin-top: 100px;
  background: rgba(0, 89, 139, 0.65);
  border-top: 1px dashed #fcde26;
}
footer .footer__rules {
  opacity: 0.7;
  font-size: 16px;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .doctor .paws-animation {
    right: -5%;
  }
  .price .paws-animation {
    left: 5%;
  }
}
@media screen and (max-width: 1340px) {
  .container {
    max-width: 1140px;
  }
  .paws-animation img {
    width: 45px;
  }
  .paws-animation img:nth-child(2) {
    bottom: 55px;
    left: -7px;
  }
  .paws-animation img:nth-child(3) {
    bottom: 66px;
    left: 51px;
  }
  .paws-animation img:nth-child(4) {
    bottom: 120px;
    left: 48px;
  }
  .paws-animation img:nth-child(5) {
    bottom: 137px;
    left: 101px;
  }
  .paws-animation img:nth-child(6) {
    bottom: 197px;
    left: 68px;
  }
  .paws-animation img:nth-child(7) {
    bottom: 225px;
    left: 119px;
  }
  .doctor .doctor__img {
    max-width: 50%;
    width: unset;
    height: 500px;
  }
  .doctor .doctor__title {
    font-size: 24px;
  }
  .doctor .doctor__description--list {
    font-size: 18px;
  }
  .doctor .doctor__description--list:last-child {
    font-size: 20px;
  }
  .price .price__btns {
    margin-left: 0;
  }
  .price .paws-animation {
    transform: rotate(-90deg);
  }
  .price .paws-animation img {
    width: 45px;
  }
  .gallery .slider__wrapper {
    max-width: 80%;
  }
  .form .form__img {
    max-width: 35%;
  }
}
@media screen and (max-width: 1220px) {
  main {
    row-gap: 75px;
  }
  .container {
    max-width: 992px;
  }
  .section__title {
    padding: 0 20% 10px 0;
  }
  .section__title h2 {
    font-size: 28px;
  }
  nav .nav__contacts-item img,
footer .nav__contacts-item img {
    width: 28px;
  }
  nav .logo,
footer .logo {
    max-width: 150px;
  }
  nav .nav__menu,
footer .nav__menu {
    gap: 20px;
  }
  nav .nav__link,
footer .nav__link {
    font-size: 19px;
  }
  header .header__wrapper {
    gap: 20px;
    justify-content: space-between;
  }
  header .header__img {
    max-width: 60%;
  }
  header .header__title {
    padding-left: 0;
  }
  .doctor .paws-animation {
    right: -11%;
    transform: rotate(-15deg);
  }
  .services .services__title {
    border-bottom: 2px #fcde26 solid;
  }
  .services .services__item {
    padding: 10px;
    gap: 10px;
  }
  .services .services__name {
    font-size: 24px;
  }
  .services .services__img {
    height: 50px;
  }
  .services .services__description {
    font-size: 18px;
  }
  .price .price__description p {
    font-size: 16px;
    border: 2px solid #fcde26;
  }
  .price .price-btn__item {
    padding: 15px;
    text-align: center;
    font-size: 20px;
  }
  .price .price__contents {
    font-size: 18px;
  }
  .price .paws-animation {
    left: 0;
    transform: rotate(-90deg);
  }
  .gallery .slider__wrapper {
    max-width: 90%;
  }
  .faq .faq-btn__item {
    padding: 15px;
  }
  .form .form__wrapper {
    padding: 20px;
    margin-top: 0;
  }
  .form .form__img {
    max-width: 30%;
  }
  .contacts .contacts__map {
    max-width: 60%;
    width: 100%;
  }
  .contacts .contacts__map iframe {
    width: 100%;
  }
  footer {
    margin-top: 75px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  nav .nav__contacts {
    display: none;
  }
  nav .nav__list {
    gap: 15px;
    justify-content: flex-end;
  }
  nav .nav__link {
    font-size: 20px;
  }
  nav .logo {
    max-width: 200px;
  }
  .btn {
    padding: 15px 40px;
  }
  header h4 {
    font-size: 22px;
  }
  header h1 {
    font-size: 52px;
  }
  header h2 {
    font-size: 24px;
  }
  .benefits .benefits__wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 90px;
  }
  .benefits .benefits__item {
    font-weight: 600;
    font-size: 18px;
  }
  .benefits .benefits__item.element-animation {
    transform: translate(0, 100px);
  }
  .benefits .benefits__item.element-animation:nth-child(1).element-show {
    transition: 1s all 0.1s;
  }
  .benefits .benefits__item.element-animation:nth-child(2).element-show {
    transition: 1s all 0.1s;
  }
  .benefits .benefits__item.element-animation:nth-child(3).element-show {
    transition: 1s all 0.1s;
  }
  .benefits .benefits__item.element-animation:nth-child(4).element-show {
    transition: 1s all 0.1s;
  }
  .benefits .benefits__item img {
    top: -50%;
    width: 75px;
  }
  .doctor .paws-animation {
    right: -19%;
  }
  .doctor .doctor__title,
.doctor .doctor__description,
.doctor .doctor__img {
    border: 2px solid #fcde26;
  }
  .doctor .doctor__title {
    font-size: 20px;
  }
  .doctor .doctor__description--list {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2em;
  }
  .services .services__img {
    height: 40px;
  }
  .services .services__name {
    font-size: 20px;
  }
  .services .services__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .services .services__description {
    flex-grow: 1;
  }
  .price .price__wrapper {
    gap: 10px;
  }
  .price .price__btns {
    gap: 10px;
    line-height: 1em;
  }
  .price .price-btn__item {
    padding: 12px;
    font-size: 18px;
    font-weight: 400;
  }
  .price .price__contents {
    width: 50%;
    padding: 25px;
  }
  .price .price__description p {
    padding: 10px;
  }
  .price .paws-animation {
    bottom: -20%;
  }
  .faq .faq-btn__item {
    font-size: 18px;
    font-weight: 500;
  }
  .faq .faq-wrapper__item.faq-wrapper__item--active .faq-content__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
    padding: 25px;
  }
  .gallery .slider__wrapper {
    max-width: 100%;
  }
  .form h5 {
    font-size: 1.2em;
  }
  .form a {
    font-size: 1.1em;
  }
  .form p {
    font-size: 1.1em;
  }
  .form .form__wrapper {
    gap: 20px;
  }
  .form .form__form,
.form .form__title {
    max-width: unset;
    position: relative;
    z-index: 2;
  }
  .form .form__img {
    opacity: 0.5;
    max-width: 40%;
    z-index: 1;
  }
  .contacts .contacts__title {
    width: 50%;
    padding: 15px;
    left: 4%;
  }
  footer .nav__menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footer__rules {
    justify-self: center;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  nav .nav__menu,
footer .nav__menu {
    justify-content: space-between;
  }
  nav .nav__menu .footer__rules,
footer .nav__menu .footer__rules {
    width: 100%;
  }
  nav .nav__list,
footer .nav__list {
    position: fixed;
    background: #14759f;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    left: -100%;
    top: 0;
    width: 0;
    transition: 0.4s;
    height: 100%;
    z-index: 500;
    color: #fff;
    row-gap: 2em;
  }
  nav .nav__list.nav__list--active,
footer .nav__list.nav__list--active {
    opacity: 1;
    width: 100%;
    left: 0;
  }
  .nav__burger {
    position: relative;
    width: 30px;
    height: 18px;
    margin-left: auto;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    display: flex;
    z-index: 999;
  }
  .nav__burger span, .nav__burger::before, .nav__burger::after {
    width: 100%;
    height: 3px;
    background: #fff;
    transition: 0.4s;
    content: "";
    position: absolute;
    left: 0;
  }
  .nav__burger::before {
    top: 0;
  }
  .nav__burger::after {
    bottom: 0;
  }
  .nav__burger span {
    transform: scale(1);
  }
  .nav__burger.nav__burger--active {
    position: fixed;
    top: 30px;
    right: 30px;
  }
  .nav__burger.nav__burger--active span {
    transform: scale(0);
    background: #fff;
  }
  .nav__burger.nav__burger--active::before {
    top: 44%;
    transform: rotate(45deg);
    background: #fff;
  }
  .nav__burger.nav__burger--active::after {
    bottom: 40%;
    transform: rotate(-45deg);
    background: #fff;
  }
  .container {
    max-width: unset;
    padding: 0 30px;
  }
  .section__title {
    display: block;
    text-align: center;
    padding: 0;
    border-bottom: 2px solid #fcde26;
  }
  main {
    row-gap: 25px;
  }
  .benefits {
    margin-top: 50px;
  }
  .doctor .doctor__wrapper {
    flex-wrap: wrap;
    gap: 10px;
  }
  .doctor .doctor__content {
    left: 0;
  }
  .doctor .doctor__img {
    height: 400px;
    max-width: unset;
  }
  .doctor .paws-animation {
    top: 10%;
  }
  .services .services__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .services .services__name span {
    display: unset;
  }
  .price .price__wrapper {
    flex-direction: column;
  }
  .price .price__btns,
.price .price__contents {
    display: flex;
    width: calc(100% - 10px);
    padding: 0;
  }
  .price .price__contents {
    max-width: 100%;
    display: flex;
  }
  .price .price__btns {
    width: 100%;
  }
  .price .price-content__list {
    padding: 25px;
  }
  .price .price__description p {
    border: 1px solid #fcde26;
  }
  .price .paws-animation {
    bottom: -15%;
  }
  .price .price__wrapper {
    flex-direction: column;
  }
  .gallery .slider__btns .btn--next,
.gallery .slider__btns .btn--prev {
    width: 50px;
  }
  .gallery .slider__btns .btn--next img,
.gallery .slider__btns .btn--prev img {
    width: 40px;
  }
  .form .form__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacts .contacts__wrapper {
    flex-wrap: wrap;
    gap: 10px;
  }
  .contacts .contacts__title {
    left: 0;
    width: unset;
    flex-direction: row;
    align-items: center;
  }
  .contacts .contacts__address {
    border-bottom: none;
    border-right: 2px dashed #fcde26;
    padding-right: 1em;
    padding-bottom: 0;
  }
  .contacts .contacts__map {
    max-width: unset;
  }
}
@media screen and (max-width: 670px) {
  .contacts .contacts__links {
    width: 65%;
  }
}
@media screen and (max-width: 610px) {
  .container {
    padding: 0 15px;
  }
  header .header__wrapper {
    gap: 0;
  }
  .contacts .contacts__title {
    flex-direction: column;
    align-items: unset;
  }
  .contacts .contacts__address {
    border-bottom: 2px dashed #fcde26;
    border-right: none;
    padding-right: 0;
    padding-bottom: 1em;
  }
  .contacts .contacts__map {
    padding: 5px;
  }
  .contacts .contacts__map iframe {
    height: 320px;
  }
  .contacts .contacts__links {
    width: unset;
  }
}
@media screen and (max-width: 550px) {
  nav .logo {
    max-width: 150px;
  }
  .btn {
    padding: 10px 50px;
    font-size: 16px;
  }
  header {
    padding-bottom: 0;
  }
  header .header__main {
    padding-top: 25px;
  }
  header h4 {
    font-size: 18px;
  }
  header h1 {
    font-size: 36px;
  }
  header h2 {
    font-size: 20px;
  }
  .benefits {
    margin-top: 0;
  }
  .benefits .benefits__wrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5px;
  }
  .benefits .benefits__item {
    padding: 5px;
    justify-content: unset;
    gap: 10px;
    text-align: unset;
    background: none;
  }
  .benefits .benefits__item p {
    background: rgba(0, 89, 139, 0.65);
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-radius: 18px;
    line-height: 1em;
    font-size: 16px;
  }
  .benefits .benefits__item img {
    width: 40px;
    position: relative;
    top: unset;
  }
  .paws-animation img {
    width: 35px;
  }
  .paws-animation img:nth-child(2) {
    bottom: 42px;
  }
  .paws-animation img:nth-child(3) {
    bottom: 43px;
    left: 41px;
  }
  .paws-animation img:nth-child(4) {
    bottom: 85px;
    left: 28px;
  }
  .paws-animation img:nth-child(5) {
    bottom: 91px;
    left: 74px;
  }
  .paws-animation img:nth-child(6) {
    bottom: 130px;
    left: 53px;
  }
  .paws-animation img:nth-child(7) {
    bottom: 140px;
    left: 95px;
  }
  .doctor .paws-animation {
    right: -30%;
    transform: rotate(330deg);
  }
  .services .services__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .services .services__title {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
  }
  .price .paws-animation {
    transform: rotate(-25deg);
    right: -30%;
    top: 1%;
    bottom: auto;
    left: unset;
  }
  .price .paws-animation img {
    width: 35px;
  }
  .gallery .slider__btns .btn--next,
.gallery .slider__btns .btn--prev {
    width: 30px;
  }
  .gallery .slider__btns .btn--next img,
.gallery .slider__btns .btn--prev img {
    width: 25px;
  }
  .gallery .slider__dots .dot {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 450px) {
  .btn {
    font-weight: 400;
  }
  .doctor .doctor__description {
    padding: 30px 50px 30px 30px;
  }
  .doctor .paws-animation {
    right: -40%;
    top: 50%;
    transform: rotate(330deg);
  }
  header h4 {
    font-size: 16px;
  }
  header h1 {
    font-size: 28px;
  }
  header h2 {
    font-size: 18px;
  }
  .price .paws-animation {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .doctor .paws-animation {
    right: -50%;
  }
}/*# sourceMappingURL=style.css.map */