$bg-color: #39a8c6;
$yellow: #fcde26;
$elements-bg: rgba(0, 89, 139, 0.65);
$elements-bg-hex: #14759f;

$transition: 0.4s;
$border: 3px solid $yellow;
$border-radius: 18px;

.element-animation {
  opacity: 0;
  &.element-show {
    opacity: 1;
    transition: 1s all ease 0.1s;
    transform: translate(0, 0) !important;
  }
}

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
  color: #fff;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 100px;
  overflow: hidden;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  background: $yellow;
  color: #000;
  max-width: fit-content;
  border-radius: $border-radius;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  transition: $transition;
  &:hover {
    background: #eed219;
  }
}
.paws-animation {
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 300px;
  height: 300px;
  z-index: 100;
  img {
    animation-name: paws;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    &:nth-child(1) {
      animation-duration: 3s;
      animation-delay: 0.5s;
      bottom: 0;
      left: 0;
      transform: rotate(-50deg);
    }
    &:nth-child(2) {
      animation-duration: 3s;
      animation-delay: 1s;
      bottom: 77px;
      left: -18px;
      transform: rotate(-50deg);
    }
    &:nth-child(3) {
      animation-duration: 3s;
      animation-delay: 1.5s;
      bottom: 86px;
      left: 66px;
      transform: rotate(-50deg);
    }
    &:nth-child(4) {
      animation-duration: 3s;
      animation-delay: 2s;
      bottom: 169px;
      left: 48px;
      transform: rotate(-66deg);
    }
    &:nth-child(5) {
      animation-duration: 3s;
      animation-delay: 2.5s;
      bottom: 219px;
      left: 114px;
      transform: rotate(-77deg);
    }
    &:nth-child(6) {
      animation-duration: 3s;
      animation-delay: 3s;
      bottom: 281px;
      left: 68px;
      transform: rotate(-68deg);
    }

    &:nth-child(7) {
      animation-duration: 3s;
      animation-delay: 3.5s;
      bottom: 334px;
      left: 130px;
      transform: rotate(-59deg);
    }
  }
}
@keyframes paws {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.section__title {
  padding: 0 30% 10px 0;
  border-bottom: 3px solid $yellow;
  display: inline-block;
  margin-bottom: 50px;
  &.element-animation {
    transform: translate(-100px, 0);
    &.element-show {
      transition: 0.5s all 0.1s;
    }
  }
  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    &.element-animation {
      transform: translate(-100px, 0);
      pointer-events: none;
      &.element-show {
        transition: 1s all 0.2s;
      }
    }
  }
}
.yellow-span {
  color: $yellow;
}
// Navbar

nav,
footer {
  .nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    gap: 40px;
  }
  .logo {
    max-width: 200px;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
    & > li {
      list-style-type: none;
    }
  }
  .nav__link {
    font-size: 22px;
    transition: $transition;
    &:hover {
      color: $yellow;
    }
  }
  .nav__contacts {
    display: flex;
    flex-direction: column;
  }
  .nav__contacts-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
// Header
header {
  background: url(../img/header/lines.png), linear-gradient(174deg, #0a7eaf 22.59%, rgba(0, 89, 139, 0) 80.46%);
  background-position: 10% 20%;
  background-repeat: no-repeat;
  background-size: 100% 80%, 100%;
  // min-height: 80vh;
  padding-bottom: 50px;
  h4 {
    font-size: 24px;
    font-weight: 400;
    &.element-animation {
      transform: translate(0, 100px);
      &.element-show {
        transition: 1s all 0.1s;
      }
    }
  }
  h1 {
    font-size: 68px;
    font-weight: 600;
    &.element-animation {
      transform: translate(0, 100px);
      &.element-show {
        transition: 1s all 0.4s;
      }
    }
  }
  h2 {
    font-size: 28px;
    font-weight: 400;
    &.element-animation {
      transform: translate(0, 100px);
      &.element-show {
        transition: 1s all 0.7s;
      }
    }
  }
  .header__main {
    padding-top: 100px;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__img {
    max-width: 670px;
  }
  .header__title {
    padding-left: 100px;
  }
}
// Benefits
.benefits {
  .benefits__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .benefits__item {
    position: relative;
    text-align: center;
    font-size: 20px;
    background: $elements-bg;
    padding: 30px;
    height: 50px;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    &.element-animation {
      transform: translate(0, 100px);
      &:nth-child(1) {
        &.element-show {
          transition: 1s all 0.1s;
        }
      }
      &:nth-child(2) {
        &.element-show {
          transition: 1s all 0.3s;
        }
      }
      &:nth-child(3) {
        &.element-show {
          transition: 1s all 0.5s;
        }
      }
      &:nth-child(4) {
        &.element-show {
          transition: 1s all 0.7s;
        }
      }
    }

    img {
      width: 100px;
      position: absolute;
      top: -75%;
    }
  }
}
.doctor {
  position: relative;
  .doctor__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .doctor__img {
    max-width: 526px;
    border-radius: $border-radius;
    border-left: $border;
    border-bottom: $border;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: -12px 12px 5px 1px rgb(0 89 139 / 60%);
    height: 783px;
    width: 100%;
  }
  .doctor__content {
    position: relative;
    left: -5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .doctor__title {
    background: $elements-bg;
    border-radius: 30px;
    border-top: $border;
    border-left: $border;
    padding: 15px;
    font-size: 30px;
    text-align: center;
    max-width: fit-content;
    font-weight: 500;
  }
  .doctor__description {
    background: $elements-bg;
    border-radius: 30px;
    border-top: $border;
    border-left: $border;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .doctor__description--list {
    font-size: 22px;
    font-weight: 600;

    &:last-child {
      font-size: 26px;
    }
  }
}
.services {
  .services__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .services__item {
    text-align: center;
    background: $elements-bg;
    padding: 20px;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .services__title {
    border-bottom: $border;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: $yellow;
  }
  .services__img {
    height: 75px;
    width: fit-content;
  }
  .services__name {
    font-size: 28px;
    font-weight: 500;
  }
  .services__description {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.price {
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: -50%;
    left: 0;
    z-index: -100;
    background: linear-gradient(
      180deg,
      rgba(57, 168, 198, 0) 0%,
      rgba(23, 124, 181, 0.31) 41.6%,
      rgba(38, 143, 188, 0.2062) 75.19%,
      rgba(57, 168, 198, 0) 96.24%
    );
  }
  .price__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    overflow: hidden;
  }
  .price__btns {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 100px;
  }
  .price-btn__item {
    background: $elements-bg;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
    transition: $transition;
    &.price-btn__item--active {
      background: $yellow;
      color: #000;
    }
  }
  .price__contents {
    background: $elements-bg;
    border-radius: $border-radius;
    font-size: 24px;
    font-weight: 500;
    max-height: 330px;
    padding: 40px;
    border: $border;
    width: 60%;
  }

  .price-content__item {
    display: none;
    &.price-content__item--active {
      display: block;
    }
  }
  .price-content__list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
  }
  .price__description {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    p {
      font-size: 18px;
      background: $elements-bg;
      border-radius: $border-radius;
      padding: 20px;
      border: $border;
    }
    .btn {
      min-width: 200px;
      margin-top: 10px;
    }
  }

  .paws-animation {
    transform: rotate(-45deg);
    left: 2%;
    right: unset;
    bottom: 0;
    pointer-events: none;
  }
}
.gallery {
  .slider__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 70%;
    margin: 0 auto;
  }

  .slider__btns {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    .btn--next,
    .btn--prev {
      position: absolute;
      width: 75px;
      height: 100%;
      top: 0;
      background: $elements-bg;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.5;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .btn--next {
      right: 0;
      left: auto;
    }
    .btn--prev {
      left: 0;
      right: auto;
      img {
        transform: rotate(180deg);
      }
    }
  }
  .slider__container {
    width: 100%;
    max-height: 680px;
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: $border-radius;
    border: $border;
  }
  .slide__img {
    transition: $transition opacity;
    display: none;
    animation-name: fade;
    animation-duration: 0.8s;
    animation-direction: alternate;
    @keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    &.slide__img--active {
      display: block;
      width: 100%;
    }
  }

  .slider__dots {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: fit-content;
    height: fit-content;
    .dot {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background: $elements-bg;
      &.dot--active {
        background: $yellow;
      }
    }
  }
}

.faq {
  .faq__wrapper {
    display: flex;
    flex-direction: column;
  }
  .faq-wrapper__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &.faq-wrapper__item--active {
      .faq-btn__item {
        background: $yellow;
        color: #000;
        .tab__icon {
          border: #000 solid 2px;
          &::after {
            content: "-";
            font-size: 24px;
          }
        }
      }
      .faq-content__item {
        visibility: visible;
        height: unset;
        opacity: 1;
        display: flex;
        flex-direction: column;
        gap: 1em;
        background: $elements-bg;
        border-radius: $border-radius;
        padding: 40px;
        border: $border;
        font-size: 20px;
        pointer-events: none;
        margin-bottom: 15px;
      }
    }
  }
  .faq-btn__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $elements-bg;
    border-radius: $border-radius;
    padding: 20px;
    cursor: pointer;
    transition: $transition;
    font-size: 20px;
    font-weight: 500;
    p,
    .tab__icon {
      pointer-events: none;
    }
  }
  .tab__icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: #fff solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after {
      content: "+";
      position: absolute;
      font-size: 24px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .faq-content__item {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: $transition height;
  }
}
.form {
  .form__wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: $border-radius;
    background: $yellow;
    position: relative;
  }
  .form__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    pointer-events: none;
    &.element-animation {
      transform: translate(-50%, 100px) !important;
    }
    &.element-animation.element-show {
      transform: translate(-50%, 0) !important;
    }
  }
  .form__title {
    border-radius: $border-radius;
    background: $elements-bg-hex;
    padding: 20px;
    text-align: center;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  h5 {
    font-size: 1.4em;
  }
  a {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: $transition;
    &:hover {
      color: $yellow;
    }
  }
  p {
    font-size: 1.3em;
  }
  .form__form {
    max-width: 30%;
  }
  #form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 15px;
    color: #000;
    & input:not(:last-child) {
      padding: 1em 15px;
      border-radius: 10px;
      border: 1px solid #000;
      &::placeholder {
        font-size: 16px;
        color: #000;
      }
    }
    & input:last-child {
      width: 20px;
      height: 20px;
    }
  }
  label {
    display: flex;
    gap: 5px;
  }
  .alert {
    display: none;
    text-align: center;
    background: green;
    color: #fff;
    padding: 1em;
    font-size: 18px;
    border-radius: $border-radius;
  }
  .form__btn {
    padding: 20px;
    border-radius: $border-radius;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: $elements-bg-hex;
    color: #fff;
    transition: $transition;
    cursor: pointer;
    &:hover {
      background: #0b4159;
    }
  }
}
.contacts {
  .contacts__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacts__title {
    display: flex;
    flex-direction: column;
    background: $elements-bg;
    padding: 20px 40px 20px 20px;
    border-radius: $border-radius;
    width: 30%;
    gap: 1em;
    left: 2%;
    position: relative;
    p {
      display: flex;
      align-items: center;
      gap: 15px;
      img {
        width: 30px;
      }
    }
    p:last-child {
      color: $yellow;
    }
  }
  .contacts__address {
    font-size: 20px;
    padding-bottom: 1em;
    border-bottom: 2px dashed $yellow;
  }
  .contacts__links {
    display: flex;
    flex-direction: column;
    gap: 1em;

    a {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 18px;
      transition: $transition;
      &:hover {
        color: $yellow;
      }
      img {
        width: 25px;
      }
    }
  }
  .contacts__map {
    padding: 10px;
    border: $border;
    border-radius: $border-radius;
    iframe {
      border-radius: $border-radius;
      width: 700px;
      height: 450px;
    }
  }
}
footer {
  margin-top: 100px;
  background: $elements-bg;
  border-top: 1px dashed $yellow;

  .footer__rules {
    opacity: 0.7;
    font-size: 16px;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .doctor {
    .paws-animation {
      right: -5%;
    }
  }
  .price {
    .paws-animation {
      left: 5%;
    }
  }
}

@media screen and (max-width: 1340px) {
  .container {
    max-width: 1140px;
  }
  .paws-animation{
    right: -2%;
    img{
      width: 45px;
    }
  }
  .doctor {
    .doctor__img {
      max-width: 50%;
      width: unset;
      height: 500px;
    }
    .doctor__title {
      font-size: 24px;
    }
    .doctor__description--list {
      font-size: 18px;
      &:last-child {
        font-size: 20px;
      }
    }
  }
  .price {
    .price__btns {
      margin-left: 0;
    }
    .paws-animation {
      transform: rotate(-90deg);
      img {
        width: 45px;
      }
    }
  }
  .gallery {
    .slider__wrapper {
      max-width: 80%;
    }
  }
  .form {
    .form__img {
      max-width: 35%;
    }
  }
}
@media screen and (max-width: 1220px) {
  main {
    row-gap: 75px;
  }
  .container {
    max-width: 992px;
  }
  .section__title {
    padding: 0 20% 10px 0;
    h2 {
      font-size: 28px;
    }
  }

  nav,
  footer {
    .nav__contacts-item {
      img {
        width: 28px;
      }
    }
    .logo {
      max-width: 150px;
    }
    .nav__menu {
      gap: 20px;
    }
    .nav__link {
      font-size: 19px;
    }
  }
  header {
    .header__wrapper {
      gap: 20px;
      justify-content: space-between;
    }
    .header__img {
      max-width: 60%;
    }
    .header__title {
      padding-left: 0;
    }
  }
  .doctor {
    .paws-animation {
      right: -10%;
    }
  }
  .services {
    .services__title {
      border-bottom: 2px $yellow solid;
    }
    .services__item {
      padding: 10px;
      gap: 10px;
    }
    .services__name {
      font-size: 24px;
    }
    .services__img {
      height: 50px;
    }
    .services__description {
      font-size: 18px;
    }
  }
  .price {
    .price__description {
      p {
        font-size: 16px;
        border: 2px solid $yellow;
      }
    }
    .price-btn__item {
      padding: 15px;
      text-align: center;
      font-size: 20px;
    }
    .price__contents {
      font-size: 18px;
    }
    .paws-animation {
      left: 0;
      transform: rotate(-90deg);
    }
  }
  .gallery {
    .slider__wrapper {
      max-width: 90%;
    }
  }
  .faq {
    .faq-btn__item {
      padding: 15px;
    }
  }
  .form {
    .form__wrapper {
      padding: 20px;
      margin-top: 0;
    }
    .form__img {
      max-width: 30%;
    }
  }
  .contacts {
    .contacts__map {
      max-width: 60%;
      width: 100%;

      iframe {
        width: 100%;
      }
    }
  }
  footer {
    margin-top: 75px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  nav {
    .nav__contacts {
      display: none;
    }

    .nav__list {
      gap: 15px;
      justify-content: flex-end;
    }
    .nav__link {
      font-size: 20px;
    }
    .logo {
      max-width: 200px;
    }
  }
  .btn {
    padding: 15px 40px;
  }
  header {
    h4 {
      font-size: 22px;
    }
    h1 {
      font-size: 52px;
    }
    h2 {
      font-size: 24px;
    }
  }
  .benefits {
    .benefits__wrapper {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 90px;
    }
    .benefits__item {
      img {
        top: -75%;
      }
    }
  }
  .services {
    .services__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
    .services__description {
      flex-grow: 1;
    }
  }
  .price {
    .price-btn__item {
      font-size: 18px;
      font-weight: 400;
    }
  }
  .gallery {
    .slider__wrapper {
      max-width: 100%;
    }
  }
  .form {
    h5 {
      font-size: 1.2em;
    }
    a {
      font-size: 1.1em;
    }
    p {
      font-size: 1.1em;
    }
    .form__wrapper {
      gap: 20px;
    }
    .form__form,
    .form__title {
      max-width: unset;
      position: relative;
      z-index: 2;
    }
    .form__img {
      opacity: 0.5;
      max-width: 40%;
      z-index: 1;
    }
  }
  .contacts {
    .contacts__title {
      width: 50%;
      padding: 15px;
      left: 4%;
    }
  }
  footer {
    .nav__menu {
      flex-wrap: wrap;
      justify-content: center;
    }
    .footer__rules {
      justify-self: center;
      text-align: center;
    }
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: unset;
    padding: 0 30px;
  }
  .section__title{
    display: block;
    text-align: center;
    padding: 0;
    border-bottom: 2px solid $yellow;
  }
  main{
    row-gap: 25px;
  }
  .benefits{
    margin-top: 50px;
  }
  .doctor{
    .doctor__wrapper{
      flex-wrap: wrap;
      gap: 10px;
    }
    .doctor__content{
      left: 0;
    }
    .paws-animation{
      top: 10%;
    }
  }
  .services{
    .services__wrapper{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .price{
    .price__description p{
      border: 1px solid $yellow;
    }
    .paws-animation{
      bottom: -5%;
    }
  }
  .gallery{
    .slider__btns{
      .btn--next, .btn--prev{
        width: 50px;
        img{
          width: 40px;
        }
      }
    }
  }
  .form{
    .form__wrapper{
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .contacts{
    .contacts__wrapper{
      flex-wrap: wrap;
      gap: 10px;
    }
    .contacts__title{
      left: 0;
      width: unset;
      flex-direction: row;
      align-items: center;
    }
    .contacts__address{
      border-bottom: none;
      border-right: 2px dashed $yellow;
      padding-right: 1em;
      padding-bottom: 0;
    }
    .contacts__map{
      max-width: unset;
    }
  }
}
@media screen and (max-width: 550px) {
  .services{
    .services__wrapper{
      grid-template-columns: repeat(1, 1fr);
    }
  }
}